* {
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;
}

.heading-line {
    width: 150px;
    height: 20px;
    margin: 50px auto;
    position: relative;
}

.heading-line .line1 {
    width: 44px;
    height: 1px;
    background: #353535;
}

.heading-line .line2 {
    width: 49px;
    height: 1px;
    background: #353535;
}

.heading-line .rocket {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.heading-line .small-1 {
    position: absolute;
    top: 7px;
    left: 18px;
}

.heading-line .small-2 {
    position: absolute;
    top: 7px;
    right: 18px;
}

.heading-line .big-1 {
    position: absolute;
    top: 10px;
    left: 13px;
}

.heading-line .big-2 {
    position: absolute;
    top: 10px;
    right: 13px;
}

/* ==============================
    heading css in position ends
=============================== */

.line {
    width: 140px;
    height: 22px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.line .heading_line1 {
    width: 49px;
    height: 4px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}

.line .heading_line1 .small-1 {
    width: 44px;
    height: 1px;
    background: #353535;
}

.line .heading_line1 .small-2 {
    width: 49px;
    height: 1px;
    background: #353535;
}

.line .heading_line2 {
    width: 49px;
    height: 4px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.line .heading_line2 .small-1 {
    width: 44px;
    height: 1px;
    background: #353535;
}

.line .heading_line2 .small-2 {
    width: 49px;
    height: 1px;
    background: #353535;
}

/* ==============================
    heading css in flex ends
=============================== */

.heading-text h5 {
    color: #353535;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.heading {
    width: 140px;
    height: 22px;
    margin: auto;
    display: flex;
}

.heading #heading_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.heading .heading_line {
    width: 55px;
    height: 4px;
    margin: auto;
}

.heading .heading_line .line-1 {
    width: 44px;
    height: 1px;
    background: #353535;
    margin-bottom: 2px;
}

.heading .heading_line .line-2 {
    width: 49px;
    height: 1px;
    background: #353535;
}

/* ==================================
    heading css in another flex ends
================================== */